In [627]:
import pandas as pd
import numpy as np
import os

In [850]:
os.chdir('/home/arklykov/HSE4/DataScience/regression_kaggle_competition/')

In [851]:
ID_COL = ['Id']
REAL_COL = ['LotFrontage', 'MasVnrArea', 'GarageYrBlt']
INT_COL = ['MSSubClass', 'LotArea', 'OverallQual', 'OverallCond',
 'YearBuilt', 'YearRemodAdd', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF',
 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea',
 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr',
 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageCars', 'GarageArea',
 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch',
 'PoolArea', 'MiscVal', 'MoSold', 'YrSold'] 
OBJ_COL = ['MSZoning', 'Alley', 'LotShape', 'LandContour', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1',
 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC',
 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType',
 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
 'SaleType', 'SaleCondition', 'Street', 'Utilities', 'CentralAir']

OHE_COL = ['Street', 'CentralAir']

ORDER_COL_NAN = ['BsmtQual',
 'BsmtCond', 'GarageQual', 'GarageCond']
ORDER_COL = ['ExterQual','ExterCond', 'HeatingQC', 'KitchenQual']
ORDER_COL_AN = ['BsmtExposure']
ORDER_COL_BSMT = ['BsmtFinType1', 'BsmtFinType2']
ORDER_COL_CARAGE = ['GarageFinish']

CAT_COL = ['MSZoning', 'LotShape', 'LandContour', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'Foundation', 'Heating', 'Electrical', 'Functional',
       'GarageType', 'PavedDrive', 'SaleType',
       'SaleCondition', 'Utilities']

TARGET_COL = ['SalePrice']

In [852]:
train_data = pd.read_csv('data/raw/train.csv')

In [853]:
train_data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [854]:
def drop_id(df: pd.DataFrame) -> pd.DataFrame:
    df = df.drop(ID_COL, axis=1)
    return df

In [855]:
def extract_target(df: pd.DataFrame):
    df, target = df.drop(TARGET_COL, axis=1), df[TARGET_COL]
    return df, target

In [856]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [857]:
def preprocess_real_col(df: pd.DataFrame) -> pd.DataFrame:
    df[REAL_COL[0]] = df[REAL_COL[0]].fillna(value=0.0)
    selected_rows = df[df[REAL_COL[1]].isnull()].index.to_list()
    df = df.drop(selected_rows, axis=0)
    df = df.drop(REAL_COL[2], axis=1)
    REAL_COL.remove(REAL_COL[2])
    df[REAL_COL] = df[REAL_COL].astype(np.float32)

    return df

In [858]:
def preprocess_int_col(df: pd.DataFrame) -> pd.DataFrame:
    df[INT_COL] = df[INT_COL].astype(np.int32)
    return df

In [859]:
def clear_col_list(lst: list, clear_lst:list) -> list:
    for i in clear_lst:
        lst.remove(i)
    return lst

In [860]:
def preprocess_obj_col(df: pd.DataFrame) -> pd.DataFrame:
    drop_column = df[OBJ_COL].loc[:, (df[OBJ_COL].isna().sum() > 200).values].columns.to_list()
    df = df.drop(drop_column, axis=1)

    return df

In [861]:
def preprocess_ohe_col(df: pd.DataFrame) -> pd.DataFrame:
    df[OHE_COL[0]] = df[OHE_COL[0]].replace(['Pave', 'Grvl'], [1, 0]).astype(np.int8)
    df[OHE_COL[1]] = df[OHE_COL[1]].replace(['Y', 'N'], [1, 0]).astype(np.int8)
    return df

In [862]:
from cmath import nan

def preprocess_order_nan_col(df: pd.DataFrame) -> pd.DataFrame:
    df[ORDER_COL_NAN] = df[ORDER_COL_NAN].replace(['Ex', 'Gd', 'TA', 'Fa', 'Po', nan], [5, 4, 3, 2, 1, 0]).astype(np.int8)
    return df
def preprocess_order_col(df: pd.DataFrame) -> pd.DataFrame:
    df[ORDER_COL] = df[ORDER_COL].replace(['Ex', 'Gd', 'TA', 'Fa', 'Po'], [5, 4, 3, 2, 1]).astype(np.int8)
    return df
def preprocess_order_an_col(df: pd.DataFrame) -> pd.DataFrame:
    df[ORDER_COL_AN] = df[ORDER_COL_AN].replace(['Gd', 'Av', 'Mn', 'No', nan], [4, 3, 2, 1, 0]).astype(np.int8)
    return df
def preprocess_order_bsmt_col(df: pd.DataFrame) -> pd.DataFrame:
    df[ORDER_COL_BSMT] = df[ORDER_COL_BSMT].replace(['GLQ', 'ALQ', 'BLQ', 'Rec', 'LwQ', 'Unf', nan], [6, 5, 4, 3, 2, 1, 0]).astype(np.int8)
    return df
def preprocess_order_garage_col(df: pd.DataFrame) -> pd.DataFrame:
    df[ORDER_COL_CARAGE] = df[ORDER_COL_CARAGE].replace(['Fin', 'RFn', 'Unf', nan], [3, 2, 1, 0]).astype(np.int8)
    return df

In [884]:
def preprocess_cat_col(df: pd.DataFrame) -> pd.DataFrame:
    selected_rows = train_data[train_data['GarageType'].isnull()].index.to_list()
    df = df.drop(selected_rows, axis=0)
    selected_rows = train_data[train_data['Electrical'].isnull()].index.to_list()
    df = df.drop(selected_rows, axis=0)
    return df

In [863]:
train_data = drop_id(train_data)

In [864]:
train_data, target_data = extract_target(train_data)

In [865]:
train_data = preprocess_real_col(train_data)

In [866]:
train_data = preprocess_int_col(train_data)

In [867]:
train_data = preprocess_obj_col(train_data)

In [868]:
train_data = preprocess_ohe_col(train_data)

In [869]:
train_data = preprocess_order_nan_col(train_data)

In [870]:
train_data = preprocess_order_col(train_data)

In [871]:
train_data = preprocess_order_an_col(train_data)

In [872]:
train_data = preprocess_order_bsmt_col(train_data)

In [873]:
train_data = preprocess_order_garage_col(train_data)

In [ ]:
train_data = preprocess_cat_col(train_data)

In [874]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1452 entries, 0 to 1459
Data columns (total 73 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1452 non-null   int32
 1   MSZoning       1452 non-null   object
 2   LotFrontage    1452 non-null   float32
 3   LotArea        1452 non-null   int32
 4   Street         1452 non-null   int8
 5   LotShape       1452 non-null   object
 6   LandContour    1452 non-null   object
 7   Utilities      1452 non-null   object
 8   LotConfig      1452 non-null   object
 9   LandSlope      1452 non-null   object
 10  Neighborhood   1452 non-null   object
 11  Condition1     1452 non-null   object
 12  Condition2     1452 non-null   object
 13  BldgType       1452 non-null   object
 14  HouseStyle     1452 non-null   object
 15  OverallQual    1452 non-null   int32
 16  OverallCond    1452 non-null   int32
 17  YearBuilt      1452 non-null   int32
 18  YearRemodAdd   1452 non-null   int32
 19  RoofStyle      1452 non-null   object
 20  RoofMatl       1452 non-null   object
 21  Exterior1st    1452 non-null   object
 22  Exterior2nd    1452 non-null   object
 23  MasVnrType     1452 non-null   object
 24  MasVnrArea     1452 non-null   float32
 25  ExterQual      1452 non-null   int8
 26  ExterCond      1452 non-null   int8
 27  Foundation     1452 non-null   object
 28  BsmtQual       1452 non-null   int8
 29  BsmtCond       1452 non-null   int8
 30  BsmtExposure   1452 non-null   int8
 31  BsmtFinType1   1452 non-null   int8
 32  BsmtFinSF1     1452 non-null   int32
 33  BsmtFinType2   1452 non-null   int8
 34  BsmtFinSF2     1452 non-null   int32
 35  BsmtUnfSF      1452 non-null   int32
 36  TotalBsmtSF    1452 non-null   int32
 37  Heating        1452 non-null   object
 38  HeatingQC      1452 non-null   int8
 39  CentralAir     1452 non-null   int8
 40  Electrical     1451 non-null   object
 41  1stFlrSF       1452 non-null   int32
 42  2ndFlrSF       1452 non-null   int32
 43  LowQualFinSF   1452 non-null   int32
 44  GrLivArea      1452 non-null   int32
 45  BsmtFullBath   1452 non-null   int32
 46  BsmtHalfBath   1452 non-null   int32
 47  FullBath       1452 non-null   int32
 48  HalfBath       1452 non-null   int32
 49  BedroomAbvGr   1452 non-null   int32
 50  KitchenAbvGr   1452 non-null   int32
 51  KitchenQual    1452 non-null   int8
 52  TotRmsAbvGrd   1452 non-null   int32
 53  Functional     1452 non-null   object
 54  Fireplaces     1452 non-null   int32
 55  GarageType     1371 non-null   object
 56  GarageFinish   1452 non-null   int8
 57  GarageCars     1452 non-null   int32
 58  GarageArea     1452 non-null   int32
 59  GarageQual     1452 non-null   int8
 60  GarageCond     1452 non-null   int8
 61  PavedDrive     1452 non-null   object
 62  WoodDeckSF     1452 non-null   int32
 63  OpenPorchSF    1452 non-null   int32
 64  EnclosedPorch  1452 non-null   int32
 65  3SsnPorch      1452 non-null   int32
 66  ScreenPorch    1452 non-null   int32
 67  PoolArea       1452 non-null   int32
 68  MiscVal        1452 non-null   int32
 69  MoSold         1452 non-null   int32
 70  YrSold         1452 non-null   int32
 71  SaleType       1452 non-null   object
 72  SaleCondition  1452 non-null   object
dtypes: float32(2), int32(33), int8(14), object(24)
memory usage: 502.0+ KB

In [875]:
train_data[CAT_COL].isna().sum()

MSZoning          0
LotShape          0
LandContour       0
LotConfig         0
LandSlope         0
Neighborhood      0
Condition1        0
Condition2        0
BldgType          0
HouseStyle        0
RoofStyle         0
RoofMatl          0
Exterior1st       0
Exterior2nd       0
MasVnrType        0
Foundation        0
Heating           0
Electrical        1
Functional        0
GarageType       81
PavedDrive        0
SaleType          0
SaleCondition     0
Utilities         0
dtype: int64

In [ ]:
train_data

In [876]:
selected_rows = train_data[train_data['Electrical'].isnull()].index.to_list()

In [878]:
np.array(selected_rows)

array([  39,   48,   78,   88,   89,   99,  108,  125,  127,  140,  148,
        155,  163,  165,  198,  210,  241,  250,  287,  291,  307,  375,
        386,  393,  431,  434,  441,  464,  495,  520,  528,  533,  535,
        562,  582,  613,  614,  620,  635,  636,  638,  649,  705,  710,
        738,  750,  784,  826,  843,  921,  942,  954,  960,  968,  970,
        976, 1009, 1011, 1030, 1038, 1096, 1123, 1131, 1137, 1143, 1173,
       1179, 1218, 1219, 1234, 1257, 1283, 1323, 1325, 1326, 1337, 1349,
       1407, 1449, 1450, 1453])

In [880]:
d = train_data.drop(selected_rows, axis=0)

In [883]:
d[CAT_COL].isna().sum()

MSZoning         0
LotShape         0
LandContour      0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
MasVnrType       0
Foundation       0
Heating          0
Electrical       1
Functional       0
GarageType       0
PavedDrive       0
SaleType         0
SaleCondition    0
Utilities        0
dtype: int64

In [ ]:
(train_data[OBJ_COL].isna().sum() > 0).values

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True,  True,  True,  True,  True, False, False,  True, False,
       False,  True,  True,  True,  True, False, False, False, False,
       False, False])

In [ ]:
nan_col = train_data[OBJ_COL].loc[:, (train_data[OBJ_COL].isna().sum() > 0).values].columns.to_list()

In [ ]:
train_data[nan_col]

,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinType2,Electrical,GarageType,GarageFinish,GarageQual,GarageCond
0,Gd,TA,No,GLQ,Unf,SBrkr,Attchd,RFn,TA,TA
1,Gd,TA,Gd,ALQ,Unf,SBrkr,Attchd,RFn,TA,TA
2,Gd,TA,Mn,GLQ,Unf,SBrkr,Attchd,RFn,TA,TA
3,TA,Gd,No,ALQ,Unf,SBrkr,Detchd,Unf,TA,TA
4,Gd,TA,Av,GLQ,Unf,SBrkr,Attchd,RFn,TA,TA
...,...,...,...,...,...,...,...,...,...,...
1455,Gd,TA,No,Unf,Unf,SBrkr,Attchd,RFn,TA,TA
1456,Gd,TA,No,ALQ,Rec,SBrkr,Attchd,Unf,TA,TA
1457,TA,Gd,No,GLQ,Unf,SBrkr,Attchd,RFn,TA,TA
1458,TA,TA,Mn,GLQ,Rec,FuseA,Attchd,Unf,TA,TA
1459,TA,TA,No,BLQ,LwQ,SBrkr,Attchd,Fin,TA,TA

In [ ]:
train_data[OBJ_COL]

,MSZoning,LotShape,LandContour,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,...,Electrical,KitchenQual,Functional,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,SaleType,SaleCondition
0,RL,Reg,Lvl,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
1,RL,Reg,Lvl,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,...,SBrkr,TA,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
2,RL,IR1,Lvl,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
3,RL,IR1,Lvl,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,...,SBrkr,Gd,Typ,Detchd,Unf,TA,TA,Y,WD,Abnorml
4,RL,IR1,Lvl,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,RL,Reg,Lvl,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,...,SBrkr,TA,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
1456,RL,Reg,Lvl,Inside,Gtl,NWAmes,Norm,Norm,1Fam,1Story,...,SBrkr,TA,Min1,Attchd,Unf,TA,TA,Y,WD,Normal
1457,RL,Reg,Lvl,Inside,Gtl,Crawfor,Norm,Norm,1Fam,2Story,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
1458,RL,Reg,Lvl,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,...,FuseA,Gd,Typ,Attchd,Unf,TA,TA,Y,WD,Normal
1459,RL,Reg,Lvl,Inside,Gtl,Edwards,Norm,Norm,1Fam,1Story,...,SBrkr,TA,Typ,Attchd,Fin,TA,TA,Y,WD,Normal

In [ ]:
train_data[OBJ_COL].loc[:, train_data[OBJ_COL].nunique().values == 2]

     Street Utilities CentralAir
0      Pave    AllPub          Y
1      Pave    AllPub          Y
2      Pave    AllPub          Y
3      Pave    AllPub          Y
4      Pave    AllPub          Y
...     ...       ...        ...
1455   Pave    AllPub          Y
1456   Pave    AllPub          Y
1457   Pave    AllPub          Y
1458   Pave    AllPub          Y
1459   Pave    AllPub          Y

[1452 rows x 3 columns]

In [ ]:
l = []
for i in range(len(OBJ_COL)):
    if 'Gd' in train_data[OBJ_COL[i]].unique().tolist():
        l.append(OBJ_COL[i])
l

['ExterQual',
 'ExterCond',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'HeatingQC',
 'KitchenQual',
 'GarageQual',
 'GarageCond']

In [ ]:
train_data[OBJ_COL[]].unique().tolist()

['Reg', 'IR1', 'IR2', 'IR3']

In [ ]:
['Pave', 'Grvl'] == ['av', 'po', 'go']

False

In [ ]:
d = train_data[OBJ_COL].drop(OHE_COL, axis=1)

In [ ]:
d = d.drop(ORDER_COL, axis=1)

In [ ]:
d.columns.values

array(['MSZoning', 'LotShape', 'LandContour', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'Foundation', 'BsmtFinType1',
       'BsmtFinType2', 'Heating', 'Electrical', 'Functional',
       'GarageType', 'GarageFinish', 'PavedDrive', 'SaleType',
       'SaleCondition'], dtype=object)